body{
    background-color: blanchedalmond;
    text-align: center;
}
#mycss{
    color: white;
    font-size: 20px;
    background-color: blue;
    border-radius: 2px;
    border-color: black;
}